*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 1200px;
  height: 600px;
  background-color: red;
  display: flex;
}

.container .left-container{
  width: 80%;
  background-color: green;
}

.container .right-container{
  width: 20%;
  background-color: blue;
  position: relative;
}

.container .arrow{
  position: absolute;
  width: 70px;
  height: 70px;
  background-color: gray;
  border:0;
  border-radius: 50%;
  right:50%;
  transform: translateX(50%);
}

.container .arrow.up{
  top:0;
}

.container .arrow.down{
  bottom:0;
}