<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue Slider</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
  <div id="app">
    <div class="container">
      <div class=" left-container">
        <div class="element" v-for="(element,i) in elementsList" :class="i === currentImage ? 'active' : ''">
          <img class="jumbo-image" :src="element.image" :alt="element.title" @mouseover="stopImage()"
            @mouseout="startImage()">
          <div class="jumbo-text">
            <h2>{{element.title}}</h2>
            <p>{{element.text}}</p>
          </div>
        </div>
      </div>


      <div class="right-container">

        <img v-for="(preview,i) in elementsList" :src="preview.image" :alt="preview.title" class="small-image"
          :class="i === currentImage ? 'small-active' : ''">

        <button class="arrow up" @click="prevImage()" @keyup.up="prevImage()"><i class="fas fa-chevron-up"></i></button>
        <button class="arrow down" @click="nextImage()" @keyup.down="nextImage()"><i
            class="fas fa-chevron-down"></i></button>
      </div>
    </div>
  </div>
  <script src="js/scripts.js"></script>
</body>

</html>